GHKIT_VERSION = 0.3.15

FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = GHKit
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Frameworks"
GCC_PRECOMPILE_PREFIX_HEADER = YES

GTM_GENERAL_OTHER_CFLAGS = -Wdiv-by-zero -Wbad-function-cast  -Wnested-externs -Wold-style-definition
