GHKIT_VERSION = 0.3.13
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
INSTALL_PATH = @rpath
DYLIB_COMPATIBILITY_VERSION = 0
DYLIB_CURRENT_VERSION = ${GHKIT_VERSION}
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = GHKit
WRAPPER_EXTENSION = framework
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Frameworks"
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = GHKit_Prefix.pch

GTM_GENERAL_OTHER_CFLAGS = -Wdiv-by-zero -Wbad-function-cast  -Wnested-externs -Wold-style-definition
